#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}
body {
	background-color: #000000;
}

path.domain  {
            stroke: white;
}
.tick text {
            font: 12px sans-serif;
            fill:white;
 }
        line {
            stroke: white;
        }
        text {
            fill: white;
        }